

@font-face {
    font-family: 'Aleo-Bold';
    src: url('/fonts/aleo/bold/Aleo-Bold.eot');
    src: url('/fonts/aleo/bold/Aleo-Bold.woff2') format('woff2'),
    url('/fonts/aleo/bold/Aleo-Bold.woff') format('woff'),
    url('/fonts/aleo/bold/Aleo-Bold.ttf') format('truetype'),
    url('/fonts/aleo/bold/Aleo-Bold.svg#Aleo-Bold') format('svg'),
    url('/fonts/aleo/bold/Aleo-Bold.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
  }
  $aleo-bold: 'Aleo-Bold', sans-serif;
  
  @font-face {
    font-family: 'Aleo-BoldItalic';
    src: url('/fonts/aleo/bold-italic/Aleo-BoldItalic.eot');
    src: url('/fonts/aleo/bold-italic/Aleo-BoldItalic.woff2') format('woff2'),
    url('/fonts/aleo/bold-italic/Aleo-BoldItalic.woff') format('woff'),
    url('/fonts/aleo/bold-italic/Aleo-BoldItalic.ttf') format('truetype'),
    url('/fonts/aleo/bold-italic/Aleo-BoldItalic.svg#Aleo-BoldItalic') format('svg'),
    url('/fonts/aleo/bold-italic/Aleo-BoldItalic.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
  }
  $aleo-bold-italic: 'Aleo-BoldItalic', sans-serif;
  
  @font-face {
    font-family: 'Aleo-Italic';
    src: url('/fonts/aleo/italic/Aleo-Italic.eot');
    src: url('/fonts/aleo/italic/Aleo-Italic.woff2') format('woff2'),
    url('/fonts/aleo/italic/Aleo-Italic.woff') format('woff'),
    url('/fonts/aleo/italic/Aleo-Italic.ttf') format('truetype'),
    url('/fonts/aleo/italic/Aleo-Italic.svg#Aleo-Italic') format('svg'),
    url('/fonts/aleo/italic/Aleo-Italic.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
  }
  $aleo-italic: 'Aleo-Italic', sans-serif;
  
  @font-face {
    font-family: 'Aleo-Light';
    src: url('/fonts/aleo/light/Aleo-Light.eot');
    src: url('/fonts/aleo/light/Aleo-Light.woff2') format('woff2'),
    url('/fonts/aleo/light/Aleo-Light.woff') format('woff'),
    url('/fonts/aleo/light/Aleo-Light.ttf') format('truetype'),
    url('/fonts/aleo/light/Aleo-Light.svg#Aleo-Light') format('svg'),
    url('/fonts/aleo/light/Aleo-Light.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
  }
  $aleo-light: 'Aleo-Light', sans-serif;
  
  @font-face {
    font-family: 'Aleo-LightItalic';
    src: url('/fonts/aleo/light-italic/Aleo-LightItalic.eot');
    src: url('/fonts/aleo/light-italic/Aleo-LightItalic.woff2') format('woff2'),
    url('/fonts/aleo/light-italic/Aleo-LightItalic.woff') format('woff'),
    url('/fonts/aleo/light-italic/Aleo-LightItalic.ttf') format('truetype'),
    url('/fonts/aleo/light-italic/Aleo-LightItalic.svg#Aleo-LightItalic') format('svg'),
    url('/fonts/aleo/light-italic/Aleo-LightItalic.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
  }
  $aleo-light-italic: 'Aleo-LightItalic', sans-serif;
  
  @font-face {
    font-family: 'Aleo-Regular';
    src: url('/fonts/aleo/regular/Aleo-Regular.eot');
    src: url('/fonts/aleo/regular/Aleo-Regular.woff2') format('woff2'),
    url('/fonts/aleo/regular/Aleo-Regular.woff') format('woff'),
    url('/fonts/aleo/regular/Aleo-Regular.ttf') format('truetype'),
    url('/fonts/aleo/regular/Aleo-Regular.svg#Aleo-Regular') format('svg'),
    url('/fonts/aleo/regular/Aleo-Regular.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
  }
  $aleo-regular: 'Aleo-Regular', sans-serif;
  
  @font-face {
    font-family: 'BlackJack';
    src: url('/fonts/blackjack/BlackJack.eot');
    src: url('/fonts/blackjack/BlackJack.woff2') format('woff2'),
    url('/fonts/blackjack/BlackJack.woff') format('woff'),
    url('/fonts/blackjack/BlackJack.ttf') format('truetype'),
    url('/fonts/blackjack/BlackJack.svg#BlackJack') format('svg'),
    url('/fonts/blackjack/BlackJack.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
  }
  $blackjack: 'BlackJack', sans-serif;
  
  @font-face {
    font-family: 'D-DIN-Condensed';
    src: url('/fonts/d-din/condensed/D-DIN-Condensed.eot');
    src: url('/fonts/d-din/condensed/D-DIN-Condensed.woff') format('woff'),
    url('/fonts/d-din/condensed/D-DIN-Condensed.ttf') format('truetype'),
    url('/fonts/d-din/condensed/D-DIN-Condensed.svg#D-DINCondensed') format('svg'),
    url('/fonts/d-din/condensed/D-DIN-Condensed.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
  }
  $ddin-condensed: 'D-DIN-Condensed', sans-serif;
  
  @font-face {
    font-family: 'D-DIN-Condensed-Bold';
    src: url('/fonts/d-din/condensed-bold/D-DIN-Condensed-Bold.eot');
    src: url('/fonts/d-din/condensed-bold/D-DIN-Condensed-Bold.woff') format('woff'),
    url('/fonts/d-din/condensed-bold/D-DIN-Condensed-Bold.ttf') format('truetype'),
    url('/fonts/d-din/condensed-bold/D-DIN-Condensed-Bold.svg#D-DINCondensed-Bold') format('svg'),
    url('/fonts/d-din/condensed-bold/D-DIN-Condensed-Bold.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
  }
  $ddin-condensed-bold: 'D-DIN-Condensed-Bold', sans-serif;
  
  @font-face {
    font-family: 'D-DIN-Bold';
    src: url('/fonts/d-din/bold/D-DIN-Bold.eot');
    src: url('/fonts/d-din/bold/D-DIN-Bold.woff') format('woff'),
    url('/fonts/d-din/bold/D-DIN-Bold.ttf') format('truetype'),
    url('/fonts/d-din/bold/D-DIN-Bold.svg#D-DIN-Bold') format('svg'),
    url('/fonts/d-din/bold/D-DIN-Bold.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
  }
  $ddin-bold: 'D-DIN-Bold', sans-serif;
  
  @font-face {
    font-family: 'D-DIN-Italic';
    src: url('/fonts/d-din/italic/D-DIN-Italic.eot');
    src: url('/fonts/d-din/italic/D-DIN-Italic.woff') format('woff'),
    url('/fonts/d-din/italic/D-DIN-Italic.ttf') format('truetype'),
    url('/fonts/d-din/italic/D-DIN-Italic.svg#D-DIN-Italic') format('svg'),
    url('/fonts/d-din/italic/D-DIN-Italic.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
  }
  $ddin-italic: 'D-DIN-Italic', sans-serif;
  
  @font-face {
    font-family: 'D-DIN-Regular';
    src: url('/fonts/d-din/regular/D-DIN.eot');
    src: url('/fonts/d-din/regular/D-DIN.woff') format('woff'),
    url('/fonts/d-din/regular/D-DIN.ttf') format('truetype'),
    url('/fonts/d-din/regular/D-DIN.svg#D-DIN') format('svg'),
    url('/fonts/d-din/regular/D-DIN.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
  }
  $ddin-regular: 'D-DIN-Regular', sans-serif;
  