
$blue-lighter: #AEE1DF;
$blue-light: #75b1bb;
$blue: #29758C;
$blue-dark: #314F75;
$blue-darker: #06364c;
$blue-darkest: #1D395F;

$green: #B2C12A;

$yellow: #F2D847;

$orange: #C45B2C;
$orange-dark: #ae3b08;

$red: #972008;
$red-dark: #7d1402;

$grey-light: #F0F0F0;
$grey: #ebebeb;
$grey-dark: #7a7a7a;
$grey-darker: #7e7e7e;

$white: #ffffff;
$black: #000000;

$error: $red;
$warning: $orange;
$info: $grey;
$success: $green;

$facebook: #6081c4;
$twitter: #00aeef;
$linkedin: #62acc7;
$youtube: #d31b1b;